body{
    padding: 0;
    margin: 0;
}
h1, h2, h3, p{
    padding: 0;
    margin: 0;
}
ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
}
button{
    border: none;
    background: white;
    cursor: pointer;
}
.header-menu{
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
}
.menu>li{
    margin-right: 46px;
}
.menu>li:last-child{
    margin-right: 0;
}
.menu>li>a{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #443737;
    position: relative;
}
.menu>li>a:hover::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: #ffc725;
    bottom: 0;
    left: 0;
    border-radius: 1px;
}
.header-menu>button{
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #443737;

}
.header-menu>button>img{
    margin-right: 5px;
}
.header-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/backgr.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 142px;
    padding-bottom: 142px;
    
}
.header-bottom>p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #dedede;
}
.header-bottom>p>a{
    color: #dedede;
}
.header-bottom>h1{
    margin-top: 8px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 79px;
    color: #fff;
    margin-bottom: 11px;
}
.banner-bottom{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #faf9f9;
    max-width: 320px;
    text-align: center;
}
.banner{
    background-image: url('../img/banner.png');
    background-repeat:no-repeat;
    background-size: cover;
    padding: 100px 0px 100px 100px;
    margin-top: 140px;
    margin-bottom: 100px;
}
.marker{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #fff;
    background-color: #f37335;
    display: inline-block;
    padding: 5px 18.5px;
    border-radius:  14px;
}
.banner>h2{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 127%;
    color: #fff;
    margin-bottom: 10px;
}
.text-banner{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #faf9f9;
    margin-bottom: 15px;
    max-width: 308px;
}
.banner>button{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #1e2f40;
    border-radius: 5px;
    background: #fbb731;
    padding: 20px 26px;
}
.title{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    text-transform: uppercase;
    color: #1b2a49;
    margin-bottom: 34px;
}
.burgers-box{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.burgers-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.burgers-item>h3{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 127%;
    color: #1b2a49;
    margin-top: 20px;
    margin-bottom: 5px;
}
.burgers-item>p{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: #979797;
    margin-bottom: 20px;
}
.burgers-item>button{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #1e2f40;
    border-radius: 5px;
    background: #fbb731;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin-bottom: 50px;
}
.burgers-item>button>img{
    margin-right: 10px;
}
.dop-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dop{
    margin-bottom: 90px;
    margin-top: 50px;
}
footer{
    background: #1e2f40;
    padding-top: 110px;
    padding-bottom: 106px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-wrap: wrap;
}
.basic{
    margin-right: 145px;
}
.basic-title{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 12px;
}
.basic-item{
    margin-bottom: 9px;
}
.basic-item:last-child{
    margin-bottom: 0;
}
.basic-item>a{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #dedede;
}
.street-time{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #dedede;
}
.info-basic{
    margin-right: 132px;
}
.info-item{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 160%;
    color: #faf9f9;
}
.tel{
    display: flex;
    flex-direction: column;
}
.tel>a{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 190%;
    text-transform: uppercase;
    color: #fbb731;
}
.header{
    background:linear-gradient(180deg, #0c4c7b 0%, #1e2f40 100%);;
    padding: 170px 0;
    margin-bottom: 185px;
}
.burger-menu{
    display: none !important;
}
.modal{
    display: none;
}

.time{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fbb731;
    margin-bottom: 10px;
}
.main-t{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 120px;
    line-height: 117%;
    text-transform: uppercase;
    color: #faf9f9;
    max-width: 580px;
    margin-bottom: 40px;
}
.ad{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    color: #dedede;
    max-width: 522px;
    margin-bottom: 42px;
}
.header-banner>a{
    padding: 20px 47px;
    background:#fbb731;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #1e2f40;
}
.header-banner{
    position: relative;
}
.burger-bg{
    position: absolute;
    top:0;
    right:0;
}
.burger-bg>img{
    width: 829px;
    height: 861px;
    position: absolute;
    top:0;
    right: 4px;
    z-index: 2;
}
.linegradient{
    width: 432px;
    height: 823px;
    background: linear-gradient(2deg, #f37335 0%, #fbb731 100%, #fdc830 100%);
    position: absolute;
    top:0;
    right:172px;
    z-index: 1;
}
.banners{
    display: flex;
    justify-content:space-between;
    margin-bottom: 186px;
}
.banner1{
    height: 395px;
    width: 580px;
    background-image: url('../img/1ban.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 116px;
}
.mark{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 14px;
    display: inline-block;
    background-color: #f37335;
    padding: 5px 18px;
    margin-bottom: 3px;
}
.banner1>h2{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 8px;
}
.b-sale{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #faf9f9;
    max-width: 392.2px;
}
.banner2{
    height: 395px;
    width: 580px;
    padding-top: 102px;
    padding-left: 50px;
    background-image: url('../img/2ban.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.banner2>h2{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 127%;
    color: #fff;
    margin-bottom: 10px;
}
.banner2>p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #faf9f9;
    max-width: 300px;
    margin-bottom: 20px;
}
.banner2>button{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: #1e2f40;
    border-radius: 5px;
    background: #fbb731;
    padding: 20px 48px;
}




/* adaptiv */
@media (max-width:768px) {
    .container{
        padding: 0 15px;
    }
    .menu>li {
        margin-right: 22px;
    }
    .header-bottom{
        background-position: center;
    }
    .banner{
        background-position-x: -74px;
        padding-left: 40px;
        margin-top: 72px;
        margin-bottom: 80px;
    }
    .burgers-item>img{
        width: 359px;
    }
    .basic{
        margin-right: 86px;
        margin-left: 77px;
        margin-top: 0px;
    }
    .info-basic{
        margin-right: 0;
    }
    .tel{
        margin-left: 77px;
        margin-top: 13px;
    }
    .time{
        font-size: 22px;
        line-height: 124%;
        margin-bottom: 7px;
    }
    .main-t{
        font-size: 86px;
        margin-bottom: 28px;
    }
    .ad{
        font-size: 14px;
        margin-bottom: 30px;
        max-width: 385px;
    }
    .header-banner>a{
        font-size: 13px;
        line-height: 123%;
        padding: 17px 40px;
    }
    .linegradient{
        height: 515px;
        width: 198px;
        right: 10px;
    }
    .header{
        padding-top: 42px;
        padding-bottom: 122px;
        padding-left: 28px;
        overflow-x:hidden;
        margin-bottom: 106px;
    }
    .burger-bg>img{
        width: 496px;
        height: 516px;
        top: 81px;
        right: -128px;
    }
    .banner1{
        height: 298px;
        width: 362.75px;
        padding-top: 44px;
        padding-left: 30px;
        background-image: url('../img/ban1-768.png');
    }
    .banner2{
        height: 298px;
        width: 362.75px;
        padding-top: 60px;
        padding-left: 30.75px;
        background-image: url('../img/ban2-768.png');
    }
    .banners{
        margin-bottom: 140px;
    }
}
@media (max-width:320px) {
    .container{
        max-width: 290px;
    }
    .burger-menu{
        display: flex !important;
    }
    .menu{
        display: none;
    }
    .logo>img{
        width: 116px;
    }
    .burgers-item>img {
        width: 139px;
    }
    .burgers-item>h3{
        font-size: 13px;
        margin-top: 7px;
    }
    .burgers-item>p{
        margin-bottom: 7px;
    }
    .burgers-item>button{
        padding-left: 20px;
        padding-right: 20px;
    }
    .basic {
            margin-right: 0px;
            margin-left: -64px;
            margin-top: 29px;
        }
    .tel{
        margin-left: 0;
        margin-top: 0;
    }
    .header-bottom{
        padding-top: 55px;
        padding-bottom: 55px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .header-bottom>h1{
        font-size: 38px;
    }
    .banner-bottom{
        font-size: 12px;
    }
    .header-bottom{
        background-image: url('../img/banner320.png');
    }
    .banner{
        margin-top: 33px;
        margin-bottom: 50px;
        padding: 34px 0;
        padding-left: 15px;       
        background-image: url('../img/nab320.png');
        background-position-x: unset;
    }
    .text-banner{
        max-width: 247px;
    }
    .marker{
        margin-bottom: 3px;
    }
    .banner>button{
        padding-left: 27px;
        padding-right: 27px;
    }
    .title{
        font-size: 27px;
        margin-bottom: 24px;
    }
    .tel{
        order: -1;
        margin-left: 51px;
    }
    .info-basic{
        margin-top: 33px;
        margin-left: -64px;
    }
    footer{
        padding: 61px 0;
    }
    .modal{
        display: none;
        position: absolute;
        top: 20px;
        background: #fff8dc;
        padding: 40px 0;
        width: 100%;
    }
    .close{
        background: transparent;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .menu-modal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-modal>li{
        margin-bottom: 23px;
    }
    .menu-modal>li:last-child{
        margin-bottom: 0;
    }
    .menu-modal>li>a{
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        color: #443737;
    }
    .active{
        position: relative;
    }
    .active::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 3px;
        border-radius: 1px;
        background: #ffc725;
        bottom: 0px;
        left: 0px;
    }
    .linegradient{
        display: none;
    }
    .burger-bg>img{
        width: 298px;
        height: 297px;
        top: 296px;
        left: ;
    }
    .time{
        font-size: 14px;
        line-height: 195%;
    }
    .main-t{
        font-size: 58px;
        line-height: 120%;
    }
    .ad{
        font-size: 13px;
        min-width: 277px;
    }
    .header{
        padding-top: 42px;
        padding-left: 15px;
        padding-bottom: 166px;
        margin-bottom: 95px;
    }
    .banners{
        flex-wrap: wrap;
        margin-bottom: 61px;
    }
    .banner1{
        width: 320px;
        height: 270px;
        margin-bottom: 22px;
    }
    .banner2{
        width: 320px;
        height: 270px;
    }
    .mark{
        padding: 3.5px 19px;
        margin-bottom: 8px;
    }
    .banner1>h2{
        margin-bottom: 4.5px;
        font-size: 55px;
        line-height: 138%;
    }
    .b-sale{
        font-size: 13px;
        line-height: 150%;
        max-width: 247px;
    }
    .banner2>h2{
        font-size: 39px;
        line-height: 144%;
        margin-bottom: 8.5px;
    }
    .banner2>p{
        font-size: 15px;
        line-height: 150%;
        max-width: 266px;
    }
    .banner2>button{
        padding: 18px 31px;
    }
}




